[Unit]
Description=AutoIndoorGarden Web
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=API_ENDPOINT=http://api.garden.space.chickenkiller.com
Environment=SERVER_HOST=http://garden.space.chickenkiller.com
Environment=MQTT_HOST=mqtt://api.garden.space.chickenkiller.com
Type=simple
User=root
WorkingDirectory=/usr/local/src/autoid-web
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target